{:paths ["acceptance/src"
         "vendor/acceptance-pipeline-specification/bb/src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.5"}
        babashka/fs {:mvn/version "0.5.34"}
        babashka/process {:mvn/version "0.6.25"}
        cheshire/cheshire {:mvn/version "6.2.0"}}
 :aliases
 {:cov {:extra-paths ["test"]
        :extra-deps {cloverage/cloverage {:mvn/version "1.2.4"}}
        :main-opts ["-m" "cloverage.coverage"
                    "-p" "acceptance/src"
                    "-s" "test/acceptance"
                    "-t" "^(?!acceptance\\.property-test$).*"]}
  :crap {:extra-paths ["scripts/clojure"]
         :extra-deps {io.github.unclebob/crap4clj
                      {:local/root "tmp/tools/crap4clj"}}
         :main-opts ["-m" "project-tools.crap"]}
  :crap-test {:extra-paths ["scripts/clojure" "test"]
              :extra-deps {io.github.unclebob/crap4clj
                           {:local/root "tmp/tools/crap4clj"}}
              :main-opts ["-m" "project-tools.crap-test"]}
  :dry4clj {:extra-deps {io.github.unclebob/dry4clj
                         {:local/root "tmp/tools/dry4clj"}}
            :main-opts ["-m" "dry4clj.core"]}
  :mutate {:extra-deps {io.github.unclebob/clj-mutate
                        {:local/root "tmp/tools/clj-mutate"}}
           :main-opts ["-m" "clj-mutate.core"]}}}
